.button {
  padding: 0.5rem 1rem;
  font-size: var(--font-size-text-1);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.5s;
}
.button-primary {
  background-color: var(--color-primary-1);
  color: var(--color-grey-1);
  border: 1px solid var(--color-primary-1);
}
.button-primary:hover {
  background-color: var(--color-primary-2);
  border: 1px solid var(--color-primary-2);
}
.button-logout {
  background-color: var(--color-grey-2);
  color: var(--color-grey-4);
  border: 1px solid var(--color-grey-2);
}
.button-logout:hover {
  background-color: var(--color-grey-3);
  color: var(--color-grey-4);
  border: 1px solid var(--color-grey-3);
}
.button-delete {
  padding: 0.2rem 0.4rem;
  background-color: var(--color-grey-2);
  color: var(--color-grey-4);
  border: 1px solid var(--color-grey-2);
}
.button-delete:hover {
  background-color: var(--color-grey-3);
  color: var(--color-grey-4);
  border: 1px solid var(--color-grey-3);
}
